@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(imgs/fundo-login.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}


.container {
    width: 420px;
    background-color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #034788;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    backdrop-filter: blur(50px);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #034788;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 45px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: #fff;
}

.esqueceu-senha a,
.termos a {
    font-size: 14px;
    text-decoration: none;
    color: #2790f3;
    display: flex;
    justify-content: center;
}

.esqueceu-senha a,
.termos a:hover {
    text-decoration: underline;

}

.login {
    width: 100%;
    height: 50px;
    background-color: rgb(145, 143, 143);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.login:hover {
    background-color: #034788;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #ffffff;
}

.registrar a,
.logar {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.registrar a,
.logar a {
    text-decoration: none;
    color: #2790f3;
}

.registrar a,
.logar a:hover {
    text-decoration: underline;
}

form {
    align-content: center;
    padding: 2px;
}

form img {
    width: 150px;
    display: flex;
    margin: auto;
}
