<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se | SKYLINK</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pagina-senha">
     <main class="container">
        <form>
            <img src="{{ url_for('static', filename='imgs/logo para inicio.png') }}" alt="Logo inicial">
            <h1>Recuperar Senha</h1>

             <div class="input-box">
                <input type="tel" placeholder="Código de validação">
            </div>

            <p>Enviamos um código de recuperação para o seu e-mail.</p>

            <div>
                <button class="login" type="button" onclick="window.location.href='index.html'">Validar
                </button>
            </div>

            <div>
                <button class="login" type="button" onclick="{{ url_for('home') }}">Cancelar
                </button>
            </div>

        </form>
    </main>
    
</body>
</html>